<style>
    .table-manifest{
        width: available;
        max-width: 100%;
        margin: 0px;
    }
    .td-manifest{
        padding: 10px
    }
</style>


<div class ="flightData">
    <div class = "table-dark table-manifest">
    <table>
        <tr><th style="text-align:right" >Flight Id:</th><td>{{param.fid}}</td></tr>
        <tr><th style="text-align:right" >Departure Time:</th><td>{{param.deptTime}}</td></tr>
        <tr><th style="text-align:right" >Total Revenue:</th><td>{{param.total}}</td></tr>
    </table>
    </div>
</div>

<div class = "table-striped table-manifest">

    <table>
        <tr>
            <th class="td-manifest">First Name</th>
            <th class="td-manifest">Middle</th>
            <th class="td-manifest">Last Name</th>
            <th class="td-manifest">Seat Number</th>
            <th class="td-manifest">Type</th>
            <th class="td-manifest">Ticket Price</th>
            <th class="td-manifest">Extras?</th>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        {{#each param.manifest}}
            <tr id = "row{{this.aid}}">
                <td class="td-manifest">{{this.aliasFirst}}</td>
                <td class="td-manifest">{{this.aliasMid}}</td>
                <td class="td-manifest">{{this.aliasLast}}</td>
                <td class="td-manifest">{{this.seatNo}}</td>
                <td class="td-manifest">{{this.type}}</td>
                <td class="td-manifest">{{this.price}}</td>
            <td class="td-manifest">{{#if this.extras}} Y {{else}} N {{/if}}</td>
                <td class="td-manifest"><button type="button" class="btn btn-secondary" onclick="removeFromFlight('{{this.aid}}','{{{../param.fid}}}','{{{../param.deptTime}}}')"
                                                id="rem{{this.aid}}" >Remove</button></td>
                <td class="td-manifest"><button class="btn btn-secondary" onclick="changeSeatModal('{{this.aid}}','{{{../param.fid}}}','{{{../param.deptTime}}}','{{this.aliasFirst}}','{{this.aliasMid}}','{{this.aliasLast}}','{{this.seatNo}}')"
                                               id="seat{{this.aid}}">Change Seat</button></td>
                <td class="td-manifest">
                    {{#if this.extras}}
                        <button class="btn btn-secondary" onclick="showExtras('{{{../param.fid}}}','{{{../param.deptTime}}}','{{this.aliasFirst}}','{{this.aliasMid}}','{{this.aliasLast}}',[{{this.extras}}])">Show Extras</button>
                    {{else}}
                        <button class="btn btn-secondary" onclick="" disabled>Show Extras</button>
                    {{/if}}

                </td>
            </tr>
        {{/each}}


    </table>


</div>

<script>



</script>