{{> admin/header}}
<div class = 'table'>
    <table>
        <tr><th>Customer Number</th><th>Username</th><th>Password</th><th>Email</th></tr>
        {{#each response}}
        <tr>
            <td>{{{this.cno}}}</td>
            <td>{{{this.username}}}</td>
            <td>{{{this.password}}}</td>
            <td>{{{this.email}}}</td>
            <td><input type = "button" class = "btn btn-secondary" id="rowButton{{this.cno}}" onclick="loadAliasData('{{this.cno}}')" value="View Alias"></td>
        </tr>
        {{/each}}
    </table>
</div>

<div class = "modal" id ="aliasModal">
    <div class = "modal-dialog">
        <div class = "modal-content">
            <div class = "modal-header">
                <div id = "aliasContent"></div>
            </div>
        </div>
    </div>
</div>

<script>
    function loadAliasData(customerNumber){
        console.log(customerNumber);
        id = "#rowButton" + customerNumber;
        $(id).prop('value', 'Working...');
        /*$.post(
            '/admin/aliasTable',
                {cno: customerNumber},
                result =>{
                    $('#aliasModal').modal();
                    $('#aliasModal').html(result);
                    $(id).prop('value', 'View Alias');
                }
        )*/
        $("#aliasContent").load(
            '/admin/aliasTable',
                {cno: customerNumber},
                function () {
                    $('#aliasModal').modal()
                    $(id).prop('value', 'View Alias')
                }
        )
        $('#aliasModal').modal()
    }
</script>