{{> admin/header}}
<div class = 'table'>
    <table>
        <tr><th>Customer Number</th><th>Username</th><th>Password</th><th>Email</th></tr>
        {{#each response}}
        <tr>
            <td>{{{this.cno}}}</td>
            <td>{{{this.username}}}</td>
            <td>{{{this.password}}}</td>
            <td>{{{this.email}}}</td>
            <td><input type ="button" class="btn btn-secondary" onclick="showUpdateCustomerInfo('{{this.cno}}')" value="Change Info."></td>
            <td><input type = "button" class = "btn btn-secondary" onclick="loadAliasData('{{this.cno}}')" value="View Alias"></td>
        </tr>
        {{/each}}
    </table>
</div>

<div class = "modal" id ="aliasModal">
    <div class = "modal-dialog" style="max-width: max-content">
        <div class = "modal-content">
            <div class = "modal-header">
                <div id = "aliasContent"></div>
            </div>
        </div>
    </div>
</div>

<script src = '/js/customerTable.js'></script>