
<script src = "../js/insertionErrorHandler.js";></script>

<h2>Add new {{data.displayText}}</h2>

<div class ="table-striped">
    <table>
        <tr>
            {{#each data.nameConvention}}
                {{#unless this.hide}}
                <td>{{this.fancyName}}</td>
                {{/unless}}
            {{/each}}
        </tr>
        <tr>
            {{#each data.nameConvention}}
                {{#unless this.hide}}
                <td><input type = "text" id = "{{this.sqlName}}" value=""></td>
                {{/unless}}
            {{/each}}
            <td><input class="btn" onclick="addItem()" type="button" value="Add"></td>
        </tr>
    </table>
</div>
<div class="error">
    <p id="errorText"></p>
</div>



<script>
    function addItem(){
        //Generate all the types of data to send
        dataToSend = {type: '{{data.type}}' , data: {}};
        //assign the sqlNames for each input form (data names)
        parameter = {data: [ {{#each data.nameConvention}} {{#unless this.hide}} { sqlName: "{{this.sqlName}}" },{{/unless}}{{/each}} ] };
        //Parse all the input boxes and compile for query
        parameter.data.forEach(function(element){
            dataToSend.data[element.sqlName] = document.getElementById(element.sqlName).value;
        });
        //Post the query
        $.post(

            '/admin/queries/addTuple',
                dataToSend,
                function(dataRecieved){
                    if(dataRecieved.success === false){
                        handleError(dataRecieved,'{{data.type}}',"errorText");
                    }else{
                        handleSuccess(dataRecieved,'{{data.type}}',"errorText");
                    }
                }
        )


    }
</script>