<div class = "table-striped">
    <table>
        <tr>
            <th>Alias Id</th>
            <th>First Name</th>
            <th>Middle</th>
            <th>Last Name</th>
            <th>Passport Number</th>
            <th>Country</th>
        </tr>
        {{#each alias}}
            <tr>
                <td>{{this.aliasId}}</td>
                <td>{{this.aliasFirst}}</td>
                <td>{{this.aliasMid}}</td>
                <td>{{this.aliasLast}}</td>
                <td>{{this.passportNum}}</td>
                <td>{{this.country}}</td>
            </tr>
        {{/each}}


    </table>


</div>