{{>admin/header}}

<div class = "table">
    <table>
        <tr>
            <th>Flight Id</th>
            <th>Departure Airport</th>
            <th>Arrival Airport</th>
            <th>Dept. Time</th>
            <th>Arr. Time</th>
            <th>Updated Dept. Time</th>
            <th>Updated Arr. Time</th>
        </tr>
        {{#each flight}}

            <tr>
                <td>{{this.fid}}</td>
                <td>{{this.dept}}</td>
                <td>{{this.arr}}</td>
                <td>{{this.deptTime}}</td>
                <td>{{this.arrTime}}</td>
                {{#if actDeptTime}}
                    <td>{{this.actDeptTime}}</td>
                    <td>{{this.actArrTime}}</td>
                {{else}}
                    <td style="color: red;">Cancelled</td>
                    <td style="color: red;">Cancelled</td>
                {{/if}}
                <td><button class = "btn btn-secondary" onclick="displayFlightManifest('{{{this.fid}}}','{{{this.deptTime}}}')">See Manifest</button></td>
                <td><button class = "btn btn-secondary" onclick="displayUpdateFlightPage('{{{this.fid}}}','{{{this.deptTime}}}')">Update Times</button></td>
            </tr>
        {{/each}}

    </table>
</div>
<div class = "modal" id ="manifestModal">
    <div class = "modal-dialog" style="max-width: max-content">
        <div class = "modal-content">
            <div class = "modal-header">
                <div id = "manifestContent">
                    TESTING
                </div>
            </div>
        </div>
    </div>
</div>

<script src = "/js/flightTable.js"></script>