
{{#each flight}}
    <div id="{{this.fid}}-{{this.count}}" data-fid = "{{this.fid}}" data-deptTime = '{{this.deptTime}}'>
    <table class="table-dark">
        <tr><th>Flight id:</th><th>{{this.fid}}</th></tr>
        <tr><th>Departure:</th><td colspan="3">{{this.deptTime}}</td></tr>
        <tr><th>Seat:</th><td>{{this.seatData.seatNo}}</td><th>Type:</th><td>{{this.seatData.type}}</td></tr>
        <tr><th>Extras:</th></tr>
        {{#each this.extras}}
            {{#if this}}
            <tr>
                <td>{{this}}</td>
            </tr>
            {{/if}}
        {{/each}}

    </table>
    <table>
        <tr>
            <td>Select Alias</td>
            <td>
                <select id = "alias">
                    {{#each ../alias}}
                        <option value="{{this.aliasId}}">{{this.aliasFirst}} {{this.aliasLast}}</option>
                    {{/each}}
                </select>
            </td>
        </tr>
        <tr>
            <td>Select Payment Option:</td>
            <td>
                <select id = "payment">
                    {{#each ../payment}}
                        <option value="{{this.cardNum}}">{{this.cardNumClean}} {{this.cardExpiry}}</option>
                    {{/each}}
                </select>
            </td>
        </tr>
    </table>
    </div>


{{/each}}

<button class="btn btn-primary" onclick="completeCheckout()">Complete</button>

<script src="/js/completeCheckOut.js"></script>
<script>
    function completeCheckout(){
        ids = [{{#each flight}}
            '{{this.fid}}-{{this.count}}',
        {{/each}}]

        addComplete(ids);

    }
</script>