
<table class="table table-dark">
  <thead>
    <th scope="col">Flight ID</th>
    <th scope="col">Deptarture Time</th>
    <th scope="col">Route</th>
    <th scope="col">Extras</th>
  </thead>
  {{#each response}}
  <tbody>
    <tr>
      <td>{{this.fid}}</td>
      <td>{{this.deptTime}}</td>
      <td>{{this.dept}}-->{{this.arr}}</td>
        <td>
            <table>
                {{#each extras}}{{#if this}}
                    <tr><td>{{this}}</td></tr>
                {{/if}}{{/each}}
            </table>
            </td>
      <td align="center"><button class = 'btn btn-primary' onclick="loadExtrasList('{{this.fid}}','{{this.deptTime}}')" >+</button></td>

    </tr>
  </tbody>
  {{/each}}
</table>

<form method="get" action="/checkout">
    <button type="submit" class='btn btn-primary'>Checkout</button>
</form>

<div class = "modal" id ="extrasModal">
    <div class = "modal-dialog" style="max-width: max-content">
        <div class = "modal-content">
            <div class = "modal-header">
                <div id = "extrasList">
                    TESTING
                </div>
            </div>
        </div>
    </div>
</div>


<script>
function loadExtrasList(fid,deptTime) {


    $('#extrasList').load(
            '/shoppingCart/extras',
            {fid: fid, deptTime: deptTime},
            function () {
                $('#extrasModal').modal();
            }
    )
}

</script>
